.card {
    text-align: center;
    background-color: black;
    color: bisque;
    margin: 0; 
    width: 100%; 
    border-radius: 0;
}
.blockquote-footer{
    color: bisque;
}
.app-wrapper {
    display:flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 35px;
    z-index: 20;
}
.main-content {
    flex-grow: 1;
}
.blockquote {
  font-size:xx-small;
  padding: 0;
  padding-top: 5px;
}
.card-header {
  padding: 0px;
  margin-bottom: 0;
  color: var(--bs-card-cap-color);
  background-color: var(--bs-card-cap-bg);
  border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}
.card-body {
  flex: 1 1 auto;
  padding: 0px;
  color: var(--bs-card-color);
}