body {
  background: url('../../../assets/img/Fondo3.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}
.tarjetas {
    position: relative;
    overflow: hidden;
    padding-top: 90px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.card-body, .card-title, .card-text {
    
    color: black !important;
}
.card {
    background-color: rgba(255, 255, 255, 0.8);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    will-change: transform;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card:hover {
    transform: scale(1.4);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 100;
    background-color:azure;
}

.text-body-secondary {
    color: rgba(7, 0, 0, 0.7) !important; 
}
.img-fluid{
    align-items: center;
    padding: 5px;
    border-radius: 30px;
    width: 100%;

}
.row {
    padding-top: 20px;
    padding-bottom: 20px;
}
.col-lg-4{
    align-content: center;
    text-align: justify;
}
.col-md-12{
    align-content: center;
    text-align: start;
    padding: 20px;
}
.col{
    text-align: justify;
    padding: 40px;
}
.col h2{
    padding-top: 20px;
}
.container{
    background-color: white;
    color: black;
    padding: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}
.base{
    padding: 20px;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}
.video-background img{
    width: 100%;
    height: 100%;
}
