.tarjetas {
    position: relative;
    overflow: hidden;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.card-body, .card-title, .card-text {
    
    color: black !important;
}
.card {
    background-color: rgba(255, 255, 255, 0.7);
}


.text-body-secondary {
    color: rgba(7, 0, 0, 0.7) !important; 
}
.img-fluid{
    align-items: center;
    padding: 5px;
    border-radius: 30px;
    width: 100%;

}
.row {
    padding-top: 20px;
    padding-bottom: 20px;
}
.col-lg-4{
    align-content: center;
    text-align: justify;
}
.col-md-12{
    align-content: center;
    text-align: start;
    padding: 20px;
}
.col{
    text-align: justify;
    padding: 40px;
}
.col h2{
    padding-top: 20px;
}
.container{
    background-color: white;
    color: black;
    padding: 20px;
    margin-bottom: 30px;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}
.video-background img{
    width: 100%;
    height: 100%;
}
