body {
  background: url('/assets/img/Fondo3.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}
.container {
    padding-bottom: 110px;
    margin-top: 10px;
}

.col {
    justify-items: center;
    background-color: rgba(255, 255, 255, 0);
    max-width: 120%;
    padding-top: 150px;
}


.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.producto {
border:1px solid #ccc;
border-radius: 10px;
padding: 15px;
width: 22%;
box-sizing: border-box;
text-align: center;
background-color: #fff;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
transition: transform 0.2s, box-shadow 0.2s;
}

.producto:hover{
    transform: translateY(-15px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.producto img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}
.producto h3{
    margin:10px 5 5px;
    font-size: 1.2em;

}
.producto p {
    color: #555;
    margin: 5px 0 10px;
}
.producto strong {
    display: block;
    color: #1e88e5;
    font-size: 1.5em;
}
@media (max-width: 768px) {
  .producto {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .producto {
    width: 90%;
}
}

.btn-cotizar {
    display: block;
    padding: 12px 25px;
    margin: 15px auto; 
    background-color: #25D366;
    color: black;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: background-color 0.3s;
    text-align: center;
    width: 50%;
}

.btn-cotizar:hover {
    background-color: #128C7E;
}


