.container {
    padding-bottom: 110px;
    margin-top: 10px;
}

.col {
    justify-items: center;
    background-color: rgba(255, 255, 255, 0);
    max-width: 120%;
    margin-top: 30px;
}

.col img {
    padding: 5px;
    border-radius: 15px;
    width: 600px;
    height: 400px;
}


.video-full-width {
    position: fixed;

    top: 0;
    left: 0;
    z-index: -1;



    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;


    object-fit: cover;
    margin-top: 0;

}
.video-full-width img{
    width: 100%;
    height: 100%;
}


.productos-sobre-video {

    position: relative;
    z-index: 10;


    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 50px;



    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    
}


.producto-item {
    padding: 15px;
    

    margin: 5px auto;

    border: 3px solid white;

    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.1);

}


.btn-cotizar {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #11048a;

    color: white;
    text-decoration: none;

    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-cotizar:hover {
    background-color: #026125;
}


.col p {
    font-size: 30px;
    font-weight: 700;
    color: white;

}
