.form-container {
  display: flex;
  flex-direction: column;       
  align-items: center;          
  justify-content: center;      
  padding: 15px;
  background-color:black;
  color:bisque;
}


.form-container .mb-3 {
  width: 70%;                   
}


.form-container label {
  text-align: left;             
  width: 100%;
}

.form-container input{
    width: 70%;
    background-color: beige;
}

.form-container textarea {
  width: 100%;
  background-color: beige;
}
.accordion{
    text-align: center;
    padding: 50px;
    background-color: black;
    margin-bottom: 30px;
}
.accordion-item{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.accordion-body{
  background-color: white;
  color: black;
}
.accordion-button {
  background-color: black;
  color: bisque;
}
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffebcd'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 0-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffebcd'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 0-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
    transform: rotate(-180deg); 
}
.carousel {
    padding-top: 70px;
}
.btn-enviar {
    display: block; 
    width: 30%;
    padding: 15px;
    margin-top: 20px;
    
    
    background-color: #140264; 
    color: white; 
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    
    
    transition: background-color 0.3s ease;
}

.btn-enviar:hover {
    background-color: #045a08;
}

.alerta-exito {
    display: none; 
    text-align: center;
    padding: 15px;
    

    position: fixed; 
    top: 20px;       
    left: 50%;       
    transform: translateX(-50%); 
    z-index: 1000;   
    width: 90%;      
    max-width: 400px; 

    
    background-color: #d4edda; 
    color: #155724; 
    border: 1px solid #c3e6cb;
    border-radius: .25rem;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.alerta-exito.mostrar {
    display: block;
}