body {
  background: url('../../../assets/img/Fondo3.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}
body h1 {
  padding-top: 10px;
  color: white;
  text-align: center;
  width: 100%;
}
body h2 {
  padding: 10px;
  color: black;
  text-align: center;
  padding-top: 30px;
  font-size: 40px;
  width: 100%;
}
body h3 {
  padding: 10px;
  color: black;
  text-align: center;
  padding-top: 30px;
  font-size: 40px;
  width: 100%;
}

.imgcontenido{
  padding-top: 100px !important;
  margin-bottom: 0 !important;
  background-color: transparent !important;
}
.imgcontenido .row{
  --bs-gutter-x: 0.5rem;
  --bs-gutter-y: 0.5rem;
  margin: 0;
  margin-left: 30px;
  margin-right: auto;
}
.img-thumbnail{
  transform-origin: center center;
  transition: transform 0.3s ease-in-out, filter 0.3 ease-in-out;
  filter: brightness(100%);
  will-change: transform, filter;
  width: 90%;
  height: auto;
  display: block;
}
.img-thumbnail:hover{
  animation: latido 0.5s infinite alternate;
  transform: scale(1.05);
  filter: brightness(120%) saturate(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
@keyframes latido {
  0% { transform: scale(1.05); }
  50% { transform: scale(1.08); } /* Ligeramente más grande en el punto medio */
  100% { transform: scale(1.05); }
}

.container {
  /* Aquí es donde debe estar la solución */
  background-color: transparent !important;
  /* El !important ayuda a forzar si hay conflictos */
  padding: 20px;
  padding-top: 10px;
  width: 100%;
}
.formulario-contacto{
  width: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  /* Fondo negro transparente */
  color: white;
  border-radius: 10px;
  width: auto;
  /* Ajustar el margin-top para que no choque con el menú superior */
  margin: auto;
  margin-top: 20px;
}
.form-container .mb-3 {
  width: 100%;
  z-index: 100;
}.form-container label {
  text-align: left;
  width: 100%;
}.form-container input {
  width: 70%;
  background-color: white;
}
.form-container textarea{
  width: 100%;
  background-color: white;
}

.accordion {
  padding: 15px;
  background: transparent;
  margin-top: 0px;
  border-radius: 10px;
  padding-bottom: 50px;
}
.accordion-item {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
.accordion-body {
  color: black;
  background-color: white;
}
.accordion-button {
  background-color: black;
  color: white;
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffebcd'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 0-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffebcd'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 0-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
  transform: rotate(-180deg);
}

.btn-enviar {
  display: block;
  width: 30%;
  padding: 15px;
  margin-top: 20px;
  background-color: #140264;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-enviar:hover {
  background-color: #045a08;
}

.alerta-exito {
  display: none;
  text-align: center;
  padding: 15px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 90%;
  max-width: 400px;
  background-color: transparent;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: .25rem;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.alerta-exito.mostrar {
  display: block;
}